title = "TVM network tank"


[common]
keys_file = "keys.txt"
jrpc = ""
# giver or ever_wallet
giver_acc_type = "giver"
giver_secret_key = ""
giver_address = ""


[funding]
funding_acc_key = ""
# human-readable amout of evers
funding_amount = 10


[strat_1]
messages_count = 1_000_000
message_timeout = 10


[strat_2]
messages_per_batch = 100
message_timeout = 10
batch_interval = 10
batch_count = 10